<h1>アカウント設定</h1>
<div class="setting-form-big-container">
  <div class="setting-form-small-container" style="max-width: 300px">
    <ul class="setting-menu-desktop">
      <li>
        <a href="/settings/profile">プロフィール設定</a>
      </li>
      <li>
        <a href="/settings/skills">スキルセット設定</a>
      </li>
      <li>
        <a href="/">ポートフォリオ設定</a>
      </li>
      <li>
        <a href="/">招待設定</a>
      </li>
      <li>
        <a href="/">メールアドレス設定</a>
      </li>
      <li>
        <a href="/">パスワード設定</a>
      </li>
      <li>
        <a href="/">SNS設定</a>
      </li>
      <li>
        <a href="/">退会</a>
      </li>
    </ul>
  </div>
  <div class="setting-form-small-container" style="max-width: 500px">
    <form action="/" method="POST" class="setting-form">
      <h2>プロフィール設定</h2>
      <h3 style="margin-top: 10px">ユーザー画像</h3>
      <h5>1MB以内のgif、png、jpgファイル（400x400推奨）</h5>
      <%= react_component("SettingProfileImage", {userImage: @current_user.image.url}) %>
      <h3 style="margin-top: 30px">ユーザー固有ID<small>（必須、英数字および「-」のみ）</small></h3>
      <input type="text" name="permalink">
      <h3 style="margin-top: 20px">ユーザー名<small>（必須）</small></h3>
      <input type="text" name="name">
      <h3 style="margin-top: 20px">自己紹介<small>（400字以内）</small></h3>
      <textarea  name="description"></textarea>
      <h3 style="margin-top: 20px">所在地<small>（20字以内）</small></h3>
      <input type="text">
      <input type="checkbox">公開
      <h3 style="margin-top: 20px">誕生日</h3>
      <input type="date">
      <input type="checkbox">公開
      <h3 style="margin-top: 20px">ホームページ</h3>
      <input type="url">
    </form>
  </div>
</div>

