@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

* {
    box-sizing: border-box;
}

body {
    font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}



a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

button {
    padding: 0px;
    margin: 0px;
}
